* {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table.kop {
    margin: 0 auto;
    width: 100%;
}

table.border {
    width: 100%;
    border-collapse: collapse;
    /* border-spacing: -1px; */
    border: 1px solid #000000;
}

table.border td,
table.border th {
    border: 1px solid #000000;
    padding: 5px;
}

body {
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.tab {
    /* display: inline-block; */
    margin-left: 40px;
}

.tandatangan {
    margin-left: auto;
    margin-right: 0;
    width: 240px;
}

img.logo {
    width: 140px;
    margin-right: 15px;
}

.parent {
    position: relative;
    height: 100px;
    top: 0;
    left: 45px;
}

.ttd {
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 100;
}

.stempel {
    position: absolute;
    top: -30px;
}
