* {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table.kop {
    margin: 0 auto;
    width: 100%;
}

body {
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.tab {
    /* display: inline-block; */
    margin-left: 40px;
}

.tandatangan {
    margin-left: auto;
    margin-right: 0;
    width: 240px;
}

img.logo {
    width: 140px;
    margin-right: 20px;
}

.parent{
    position: relative;
    height: 70px;
  top: 0;
  left: 0;
}

.ttd{
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 100;
}

.stempel{
    position: absolute;
    top: -30px;

}
