* {
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

/* Aturan ini hanya berlaku untuk tabel dengan kelas .data-table */
.data-table td:first-child {
    width: 150px; /* Sesuaikan lebar kolom pertama */
    vertical-align: top;
}

.data-table td:nth-child(2) {
    padding-left: 10px; /* Jarak antara titik dua dan teks */
    text-indent: -8px; /* Menggeser baris kedua ke kiri */
}

table.kop {
    margin: 0 auto;
    width: 100%;
}

table.border {
    width: 100%;
    border-collapse: collapse;
    /* border-spacing: -1px; */
    border: 1px solid #000000;
}

table.border td,
table.border th {
    border: 1px solid #000000;
    padding: 5px;
}

body {
    margin-left: 2.5cm;
    margin-right: 2.5cm;
    margin-top: 2cm;
    margin-bottom: 2cm;
}

.tab {
    /* display: inline-block; */
    margin-left: 40px;
}

.tandatangan {
    margin-left: auto;
    margin-right: 0;
    width: 245px;
}

img.logo {
    width: 140px;
    margin-right: 15px;
}

.parent {
    position: relative;
    height: 100px;
    top: 0;
    left: 45px;
}

.ttd {
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 10;
}

.stempel {
    position: absolute;
    top: -30px;
}

.page_break {
    page-break-before: always;
}

.sppd-container {
    font-size: small;
}

.sppd-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.sppd-table td {
    border: 1px solid #000;
    padding: 10px;
    vertical-align: top;
}

.sppd-number-cell {
    width: 7px;
    height: 130px;
    text-align: center;
    font-weight: bold;
}

.sppd-header-row td {
    /* border-top: none;     */
    height: 130px;
}

.sppd-header-cell-left {
    width: 50%;
    border-left: none;
    /* position: relative; */
}

.sppd-header-cell-right {
    width: 50%;
    border-right: none;
    /* position: relative; */
}

.sppd-footer {
    font-size: 0.8em;
    /* margin-top: 20px; */
}

.ttd-sppd1 {
    position: absolute;
    /* bottom: 10px; */
    right: 2px;
    transform: translateY(30px);
    z-index: 1;
}

.ttd-sppd2 {
    position: absolute;
    /* bottom: 10px; */
    /* right: 2px; */
    transform: translate(190px, 25px);
    z-index: 1;
}

.sppd-cell-content {
    position: relative;
    /* background-color: red; */
    z-index: 2;
}
